@import "tailwindcss";

@theme {
  --font-sans: "Lexend", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #610bf4;
  --color-mint: #2dd4bf;
  --color-background-light: #f6f5f8;
  --color-background-dark: #171022;
}

@layer base {
  body {
    @apply bg-background-light text-slate-900 font-sans;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
